// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue1: #032843;
$blue2: #1F595B;
$green1: #508C6D;
$green2: #71A670;
$green3: #A6DB89;
$gray1: #dbe1e7;
$black1: #151516;
$white1: #F5F5F5;

// Body
$body-bg: $white1;