.header-tittles {
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 1em;
	color: $black1;
}

.navbar-size {
	height: 50px;
	background-color: $blue1;
	width: 100% !important;
}

.link-style {
	width: 120px;
	height: 50px;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 20px;

	a {
		height: 100%;
		color: $green3;
	}

}

.active {
	background-color: $blue2;
}